body {
  background-color: #fbfbfb;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.transition-slow {
  transition: all 1s ease-out;
}
::-webkit-scrollbar {
  width: 0.4em;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
}

:-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  outline: 1px solid slategrey;
}
